input:focus{
    padding: 17px;
    border: 2px solid rgb(255, 77, 0);  
}
input:disabled{
    padding: 10px;
}
 
input:checked{
    border: 5px solid green;
    outline: 3px solid orange;
    width: 25px;
}
