#container{
    display:inline-block;
    margin: 15px auto;
    padding: 20px 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;}
a[title]{
    color:rgb(186, 108, 31)1);
    font-size: 20px;
}
a[href="https://www.link-academy.com"] {
color:rgb(25, 203, 25);
font-size: 20px;
font-style: italic;
}
 /* a[href *="#en/ro/"]{
    color: blue;
} */

a[href*="#en/ro"] {
    color: blue;
}
a[href*="#fr/ro"] {
    color:aqua;
}
a[href*="#it/ro"]{
    color:red;
}
a[href ^="https"]{
    text-transform: uppercase;
    font-style: italic;
}
p a[href ^=".com"]{
    text-decoration:none;
    font-style: italic;
    text-transform: uppercase;

}
a[data-info ~= "extern"]{
    color: rgb(236, 15, 15);
}
a[data-info ~="intern"]{
    border: 2px solid rgb(98, 154, 15)
}
a:hover{
    color:forestgreen;
}
p:empty{
    display: none;
}
p::before{
    content: "--";
}


