*{
    margin:0;
    padding: 20px auto;
    font-family: Arial, Helvetica, sans-serif;
} 

body{
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
}
h1{
    color: rgb(4, 4, 24);
    border-bottom: 2px solid blueviolet;
    display: inline-block;
}

div{
    border: solid #dd5154 15px;
    margin:15px auto;
    padding: 20px;
}
div p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style:normal;
    font-weight:bold;
    text-align: center;
    text-indent: 10px;
}
/* div + p {
    font-weight: bolder;
    font-size: 20px;
    font-style: italic;
    color: blueviolet; 
}*/
body > div > div > div{
    background-color: aqua;
    font-size: 20px;    
    
}
body > div > div{
    background-color:antiquewhite;

}
body > div{
    background-color: rgb(168, 116, 218);
}
p + div{
    color:red;
}
div div div p{
    color:green;
} 
