a[title] {
  color: green;
  font-size: 20px;
}

a[href="https://www.Link-academy.com"]
{
  color: #0c9337;
  font-size: 25px;
} 

a[href *="#en/ro/"] {
  color: rgb(106, 0, 255);
}

a[href *= "#fr/ro/"] {
  color: aqua;
}

a[href *="#it/ro/"] {
  color: red;
}

a[href ^="https"] {
  text-transform: uppercase;
}

a[href $=".com"] {
  text-decoration:none;
  font-style: italic;
}

a[data-info~="extern"] {
  color: red;
}

a[data-info~="intern"] {
  border: 1px solid rgb(28, 160, 65);
}

p:empty {
  display: none;
}
